@media screen and (max-width: 767px) {
  .nav-item {
    a {
      padding: 5px !important;
    }
  }
  .open-modal {
    overflow-y: hidden;
    margin-right: 0px !important;
  }
}

@media screen and (max-width: 320px) {
}
